# Enables XDebug, to be preprocessed by envsubst
zend_extension=xdebug.so
xdebug.mode=debug
xdebug.start_with_request=yes
xdebug.start_upon_error=yes
xdebug.client_host=$REMOTE_HOST
xdebug.discover_client_host=$REMOTE_CONNECT_BACK
xdebug.log=$APACHE_HOME/xdebug.log
xdebug.max_nesting_level=400
